header{
    
    height: fit-content;
    width: 1332px;
    background-color: chartreuse;
}
#fringes{
    width: 182px;
height: 45px;
background-color: chartreuse;

float: left;
}
#last{
    width: 58px;
    height: 45px;
    background-color: chartreuse;
    
    float:right;

}
section{
    width:1322px;
    height: fit-content;
    float: left;
    background-color:cornflowerblue ;
}
#message{
    
    width:1332px;
    height: 332px;
    float: left;
    background-color: rgb(160, 33, 128);
    
}
#pics{
    
    width:1332px;
    height: 525px;
    float: left;
    background-color:rgb(196, 27, 27) ;
}
#maintenance{
    float: left;
    text-align: center;
    width: 1332px;
    height: 32px;
    background-color: darkorange;

}
#products_body{
    float: left;
    text-align: center;
    background-color: bisque;
    width:1332px ;
    height: 199px;
}
footer{
    float: left;
    text-align: center;
    width: 1332px;
    height: 311px;
    background-color: darkgreen;
}
#group1{
    height: 287px;
    width:221px ;
    background-color: rgb(255, 146, 127);
    float: left;
    padding-top: 15px;
    margin-left: 20px

}
#group2{
    height: 287px;
    width:323px ;
    background-color: rgb(41, 25, 13);
    float: left;
    padding-top: 15px;
    margin-left: 30px

}
#group3{
    height: 287px;
    width:323px ;
    background-color: aquamarine;
    float: left;
    padding-top: 15px;
    margin-left: 30px

}
#group4{
    height: 287px;
    width:323px ;
    background-color: rgb(110, 194, 2);
    float: left;
    padding-top: 15px;
    margin-left: 30px

}
#lower_footer{
    float: left;
    text-align: center;
    width: 1332px;
    height: 32px;
    background-color: rgb(11, 168, 196);

}
.overall_container{
    width: 1332px;
    margin-left: auto;
    margin-right: auto;
}