#products{
    float: left;
    text-align: center;
    width:1332px ;
    height: 199px;
}
#products_title{
    color:rgba(0, 0, 0, 1);
	font-family:Inter;
	text-align:left;
	font-size:44px;
	letter-spacing:0;

    font-weight: bold;
    margin-top: 5px;
    margin-left: 10px;
}
#subtitle_1{
    color:rgba(0, 0, 0, 1);
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;

    font-weight: bold;
    margin-top: 5px;
    margin-left: 20px;
}
#system_1{
    color:rgba(0, 0, 0, 1);
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;

    margin-top: 10px;
    margin-left: 30px;
    font-weight: 400;
}
#system_1_icon{

    margin-left: 30px;
}
#system_2{
    color:rgba(0, 0, 0, 1);
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;

    margin-top: 10px;
    margin-left: 30px;
    font-weight: 400;
}
#system_2_icon{
    margin-left: 46px;
    
}

