
#mission{
    
    width:1332px;
    height: 525px;
    float: left;
    
}
#mission_title{
    color:rgba(0, 0, 0, 1);
	font-family:Inter;
	text-align:left;
	font-size:44px;
	letter-spacing:0;

    font-weight: bold;
    margin-top: 5px;
    margin-left: 10px;
}
#mission_paragraph{ 
	color:rgba(0, 0, 0, 1);
	
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;

    margin-top: 5px;
    margin-left: 20px;
}
#mission_illustration{
    margin-left: 268px;
    margin-top: 50px;
}