<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="message.css">
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">

    <title>Home</title>
</head>
<body>
    
        <div id="message">
            <div id="pelton_desc_div">
                <p id="pelton_desc">Pelton East Africa Company Limited is a locally owned company that deals in Computer Software  development, Computer Hardware, Networking, Web design, petroleum products distribution and Construction Works.</p>
            </div>
            <div id="illustration_div">
                
            </div>
        </div>
    

</body>
</html>