body{
    width: auto;
    height: auto;
    background-image: url('images/gradient_copy.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}
.overall_container{
    width: 1332px;
    margin-left: auto;
    margin-right: auto;
}

/* HEADER */
header{
    
    height: 40px;
    width: 1332px;
    float: left;
    
}
a { text-decoration: none; }

#logo{
width: 182px;
height: 40px;
float: left;

display : flex;
align-items : center;
}
#logo_link_paragraph{
    color:rgba(0, 0, 0, 1);
	font-family:Imprint MT Shadow;
	text-align:left;
	font-size:26.169923782348633px;
	letter-spacing:0;
    margin-left: 3px;
    

}


#home{

width: 100px;
height: 40px;
float: left;

display : flex;
align-items : center;
}

#home_link_paragaraph{
    color:rgba(0, 0, 0, 1);
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
    font-weight: bold;
    
   
}


#new{
width: 182px;
height: 40px;
float: left;

display : flex;
align-items : center;

}
#new_link_paragraph{
    color:rgba(0, 0, 0, 1);
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;

    font-weight: bold;
}
#new_icon{
    margin-left: 10px;
}

#products_header{
width: 182px;
height: 40px;
float: left;

display : flex;
align-items : center;

}
#products_header_link_paragraph{
    color:rgba(0, 0, 0, 1);
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;

    font-weight: bold;
}
#products_header_icon{
    margin-left: 10px;
}

#feedback{
    width: 182px;
    height: 40px;
    float: left;

    display : flex;
    align-items : center;

}
#feedback_link_paragraph{
    color:rgba(0, 0, 0, 1);
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;

    font-weight: bold;
    margin-left: 30px;
}
#feedback_icon{
    margin-left: 10px;
}

#events{
    width: 140px;
    height: 40px;
    float:right;

    display : flex;
    align-items : center;

}
#events_link_paragraph{
    color:rgba(0, 0, 0, 1);
	font-family:Inter;
	font-size:16px;
	letter-spacing:0;

    font-weight: bold;
    margin-left: 5px;
}
#events_icon{
    margin-left: 10px;
}
#events_beta_icon{
    margin-left: 1px;
}

/*  WELCOME  */
#welcome{
    float: left;
    text-align: center;
    width: 1332px;
    height: 32px;

    
}
#welcome_marquee{
    color:rgba(0, 0, 0, 1);	
	font-family:Inter;
	font-size:16px;
	letter-spacing:0;
    margin-top: 7px;

    font-weight: bold;
}

/*  MAINTENANCE  */
#maintenance{
    float: left;
    width: 1332px;
    height: 43px;
    background-color:yellow;;
    text-align: center;
    
	overflow: hidden;
    

}
#maintenance_paragraph{
    color:rgba(0, 0, 0, 1);
	font-family:Inter;
	font-size:16px;
	letter-spacing:0;

    font-weight: bold;
    margin-top: 10px;

    
}

/*  MESSAGE  */

#message{
    
    width:1332px;
    height: 340px;
    float: left;
    
    
}
#pelton_desc_div{
    float: left;
    width:564px;
	height:319px;
    margin-top: 8px;
    margin-left: 13px;
    
}
#pelton_desc{
    color:rgba(0, 0, 0, 1);
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;

    font-weight:normal;

}
#illustration_div{
    width:540px;
	height:332px;
    float:right;
    
    margin-top: 4px;
    margin-right: 13px;
    left:0px;
	top:0px;
	border-top-left-radius:17px;
	border-top-right-radius:17px;
	border-bottom-left-radius:17px;
	border-bottom-right-radius:17px;
	background-image:url(images/rectangle_20.png);
	background-repeat:no-repeat;
	background-size:cover;
    overflow: hidden;
}

/*  MISSION  */
#mission{
    
    width:1332px;
    height: 525px;
    float: left;
    
    
}
#mission_title{
    color:rgba(0, 0, 0, 1);
	font-family:Inter;
	text-align:left;
	font-size:44px;
	letter-spacing:0;

    font-weight: bold;
    margin-top: 5px;
    margin-left: 10px;
}
#mission_paragraph{ 
	color:rgba(0, 0, 0, 1);
	
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;

    margin-top: 5px;
    margin-left: 20px;
}
#mission_illustration{
    margin-left: 268px;
    margin-top: 50px;
}

/* PRODUCTS */
#products_body{
    float: left;
    text-align: center;
    width:1332px ;
    height: 199px;
}
#products_body_title{
    color:rgba(0, 0, 0, 1);
	font-family:Inter;
	text-align:left;
	font-size:44px;
	letter-spacing:0;

    font-weight: bold;
    margin-top: 5px;
    margin-left: 10px;
}
#subtitle_1{
    color:rgba(0, 0, 0, 1);
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;

    font-weight: bold;
    margin-top: 5px;
    margin-left: 20px;
}
#system_1{
    color:rgba(0, 0, 0, 1);
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;

    margin-top: 10px;
    margin-left: 30px;
    font-weight: 400;
}
#system_1_icon{

    margin-left: 30px;
}
#system_2{
    color:rgba(0, 0, 0, 1);
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;

    margin-top: 10px;
    margin-left: 30px;
    font-weight: 400;
}
#system_2_icon{
    margin-left: 46px;
    
}

/*  FOOTER  */
footer{
    float: left;
    text-align: center;
    width: 1332px;
    height: 311px;
    background-color:#838383;
    padding-top: 15px;

}

#footer_group1{
    height: 287px;
    width:221px ;
    float: left;
    padding-top: 15px;
    margin-left: 10px;

}

#logo_pelton_footer { 
	
	width: 220px;
	height:56px;
    float: left;
	
}
#footer_logo { 
	width:56px;
	height:56px;
	float: left;
}
#footer_pelton_logo_footer_text { 
	color:rgb(0, 0, 0);
	width:69px;
	height:22px;
	font-family:Inter;
	font-size:20px;
	letter-spacing:0;
	float: left;
	font-weight: bold;
	padding-left: 2px;
	padding-top: 10.5px;

}

#pelton_footer_text { 
    color:rgb(255, 255, 255);
    width:209px;
    height:217px;
    font-family:Inter;
    text-align:left;
    font-size:15px;
    letter-spacing:0;
    font-weight: bold;
    padding-left: 20px;
    
}

#footer_group2{
    height: 287px;
    width:323px ;
    float: left;
    padding-top: 15px;
    margin-left: 30px

}
#footer_useful_links{ 
	width:323px ;
}
#footer_useful_links_text{
    color:rgba(255, 255, 255, 1);
	font-family:Inter;
	font-size:25px;
	letter-spacing:0;
    width:323px ;
    text-align: left;
    padding-left: 40px;
    
}
#footer_useful_links_line{
width:323px ;
border-bottom: 2.5px dashed #000;
height:2.5px;
}

#footer_feedback_inquiry{
    width: 323px;
    padding-top: 20px;
    
    
}
#footer_feedback_inquiry_text { 
	color:rgba(255, 255, 255, 1);
	width:150px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
    float: left;
    padding-left: 30px;
    font-weight: bold;

}
#footer_feedback_inquiry_icon{
    width: 9px;
    height: 14px;
    float: left;

    margin-top: 2px;
    margin-left: 70px;
}

#footer_products{
    width: 323px;
    padding-top: 30px;
    
    
}
#footer_products_text { 
	color:rgba(255, 255, 255, 1);
	width:150px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
    float: left;
    padding-left: 30px;
    font-weight: bold;

}
#footer_products_icon{
    width: 9px;
    height: 14px;
    float: left;

    margin-top: 2px;
    margin-left: 70px;
}

#footer_new{
    width: 323px;
    padding-top: 30px;
    
    
}
#footer_new_text { 
	color:rgba(255, 255, 255, 1);
	width:150px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
    float: left;
    padding-left: 30px;
    font-weight: bold;

}
#footer_new_icon{
    width: 9px;
    height: 14px;
    float: left;

    margin-top: 2px;
    margin-left: 70px;
}

#footer_mail{
    width: 323px;
    padding-top: 30px;
    
    
}
#footer_mail_text { 
	color:rgba(255, 255, 255, 1);
	width:150px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
    float: left;
    padding-left: 30px;
    font-weight: bold;

}
#footer_mail_icon{
    width: 9px;
    height: 14px;
    float: left;

    margin-top: 2px;
    margin-left: 70px;
}

#footer_group3{
    height: 287px;
    width:323px ;
    float: left;
    padding-top: 15px;
    margin-left: 30px

}

#footer_contact_us{ 
	width:323px ;
}
#footer_contact_us_text{
    color:rgba(255, 255, 255, 1);
	font-family:Inter;
	font-size:25px;
	letter-spacing:0;
    width:323px ;
    text-align: left;
    padding-left: 70px;
    
}
#footer_contact_us_line{
width:323px ;
border-bottom: 2.5px dashed #000;
height:2.5px;
}
#footer_telephone{
    width: 280px;
}
#footer_telephone_title{
    font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
    color:rgba(255, 255, 255, 1);
    font-weight: bold;
    padding-left: 30px;
    padding-top: 20px;
}
#footer_telephone_text{
    color:rgba(255, 255, 255, 1);
	width:258px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
    padding-left: 20px;
    padding-top: 5px;
}

#footer_fax{
    width: 280px;
}
#footer_fax_title{
    font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
    color:rgba(255, 255, 255, 1);
    font-weight: bold;
    padding-left: 30px;
    padding-top: 20px;
}
#footer_fax_text{
    color:rgba(255, 255, 255, 1);
	width:258px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
    padding-left: 20px;
    padding-top: 5px;
}

#footer_postal_address{
    width: 280px;
}
#footer_postal_address_title{
    font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
    color:rgba(255, 255, 255, 1);
    font-weight: bold;
    padding-left: 30px;
    padding-top: 20px;
}
#footer_postal_address_text{
    color:rgba(255, 255, 255, 1);
	width:258px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
    padding-left: 20px;
    padding-top: 5px;
}

#footer_group4{
    height: 287px;
    width:323px ;
    float: left;
    padding-top: 15px;
    margin-left: 30px

}

#footer_mail_footer{ 
	width:323px ;
}
#footer_mail_footer_text{
    color:rgba(255, 255, 255, 1);
	font-family:Inter;
	font-size:25px;
	letter-spacing:0;
    width:323px ;
    text-align: left;
    padding-left: 70px;
    
}
#footer_mail_footer_line{
width:323px ;
border-bottom: 2.5px dashed #000;
height:2.5px;
}

#footer_electronic_mail{
    width: 280px;
}
#footer_electronic_mail_title{
    font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
    color:rgba(255, 255, 255, 1);
    font-weight: bold;
    padding-left: 30px;
    padding-top: 20px;
}
#footer_electronic_mail_text{
    color:rgba(255, 255, 255, 1);
	width:298px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
    padding-left: 20px;
    padding-top: 5px;
}

/*  COPYRIGHT  */
#copyright{
    float: left;
    text-align: center;
    width: 1332px;
    height: 45px;
    margin-top: 20px;
    
    
}
#copyright_paragraph{

    color:rgba(0, 0, 0, 1);
	font-family:Inter;
	text-align:right;
	font-size:16px;
	letter-spacing:0;
    
    font-weight: bold;
}
